// Place SASS variable overrides here
// $font-size-root: 18px;

$btn-active-opacity: .5 !default;

$tooltip-transition-leave-duration: 0ms !default;
$tooltip-transition-enter-duration: 0ms !default; 

$tooltip-background-color: #fff;

